@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Raleway');

html,
body {
    font-family: 'Baloo Bhaijaan', cursive;
    color: black;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    letter-spacing: 1px;
}

p {
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 960px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    background: #1E2326;
    box-shadow: 1px 1px 3px 1px black;
}

/* HEADER */
.header {
    display: flex;
    background: #1E2326;
    width: 100%;
    color: #EDEDEE;
    height: 100px;
    border-bottom: solid 5px #2D2E32;
    text-align: left;
    color: #1EAADD;
}

.header nav {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.header nav a {
    margin: 0 5%;
    color: white;
    text-decoration: none;
}


 h1 {
     color: white;
 }
/* CONTENT */

.content-container {
    min-height: 500px;
    width: 100%;
}

/* FOOTER */

footer {
    background: #24292E;
    width: 100%;
    color: #EDEDEE;
}

.boss-container {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 80%;
    justify-content: center;
    margin: auto;
}

.player-container {
    display: flex;
    flex-wrap: wrap;
    height: 270px;
    width: 90%;
    margin: 5% auto;
}

/* Action bar */

.chat {
    height: 75%;
    background: #0B2E3B;
    box-shadow: inset 1px 1px 4px 1px white;
    width: 100%;
    text-align: left;
    border-radius: .3em;
}

.chat button {
    border-radius: 2em;
}

.chat-messages {
    padding: 10px;
}

/* Action bar */

.action-bar {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    color: white;
}

.spell-bar {
    display: flex;
    background: #1E2326;
    justify-content: center;
    width: 100%;
    border-radius: .3em;
    box-shadow: inset 1px 1px 10px 1px;
}

.spell {
    display: flex;
    width: 64px;
    height: 64px;
    margin: 0 2%;
    background: #1EAADD;
        background-image: none;
        background-repeat: repeat;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto auto;
    background-size: 70% 70%;
    border-radius: 1000px;
    box-shadow: inset 1px 1px 4px 1px black;
    background-position: center;
    background-repeat: no-repeat;
}

.spell:hover {
    border: none;
    cursor: pointer;
    box-shadow: inset 1px 1px 10px 1px orange
}


/* Health bar */

.health-bar {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 22.5%;

}
.health-bar p {
    background: #C12127;
    width: 100%;
    margin: 0;
    height: 11.5%;
    box-shadow: inset 1px 1px 10px 1px black;
    border: solid 1px black;
}

.health-bar p:first-of-type {
    background: #29AEDF;
}


.health-bar img {
    height: 75%;
    width: 99%;
    border: solid 1px black;
}

.heal {
    animation-name: heal;
    animation-duration: 3s;
}

.dmg {
    animation-name: dmg;
    animation-duration: 3s;
}
@keyframes heal {
    0%   {box-shadow: none;}
   50%  {box-shadow: 1px 1px 100px 1px yellow;}
   100% {box-shadow: none;}
}

@keyframes dmg {
    0%   {box-shadow: none;}
   50%  {box-shadow: 1px 1px 100px 1px red;}
   100% {box-shadow: none;}
}
