@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

html,
body {
    color: black;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
}

a {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    margin: auto;
}

p {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

/* login */

.login-container {
    display: flex;
    flex-wrap: wrap;
    opacity: 0.9;
}

input {
    width: 40%;
    margin: 5% 30%;
    background: #212528;
    border: none;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    color: white;
    border-radius: 0.3em;
    border: 1px solid white;
    font-family: 'Open Sans', sans-serif;
}

.login-container button {
    width: 40%;
    margin: 0 30%;
    padding: 10px;
    border: none;
    background: #1eaadd;
    color: white;
    box-shadow: inset 1px 1px 5px 1px;
    font-family: 'Open Sans', sans-serif;
}

.login-info {
    background: #1eaadd;
    padding: 10px;
    width: 50%;
    margin: 2% auto;
    border-radius: 0.4em;
    color: white;
}

.login-container a {
    margin-top: 24px;
    color: #1eaadd;
}


.wrap-all {
    width: 100%;
    height: 100%;
    background: black;
    background-size: 100%;
    /* background-position: right -50px top 100px; */
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container {
    width: 960px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}


h1 {
    color: white;
}

/* CONTENT */

.content-container {
    min-height: 900px;
    width: 100%;
    color: white;
}

/* FOOTER */

footer {
    background: #24292e;
    width: 100%;
    color: #ededee;
}



/*****************************************************************************/

/* GAME */

/* Containers */

.boss-container {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 80%;
    justify-content: center;
    margin: auto;
}

.player-container {
    display: flex;
    flex-wrap: wrap;
    height: 270px;
    width: 90%;
    margin: 5% auto;
}

/* Chat */

.chat {
    height: 75%;
    background: #0B2E3B;
    box-shadow: inset 1px 1px 4px 1px white;
    width: 100%;
    text-align: left;
    border-radius: .3em;
}

.chat button {
    border-radius: 2em;
}

.chat-messages {
    padding: 10px;
}

/* Action bar and spell bar*/

.action-bar {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    color: white;
}

.spell-bar {
    display: flex;
    background: #1e2326;
    justify-content: center;
    width: 100%;
    border-radius: .3em;
    box-shadow: inset 1px 1px 10px 1px;
}

.spell {
    display: flex;
    width: 64px;
    height: 64px;
    margin: 0 2%;
    background: #1eaadd;
    background-image: none;
    background-repeat: repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
    background-size: 70% 70%;
    border-radius: 1000px;
    box-shadow: inset 1px 1px 4px 1px black;
    background-position: center;
    background-repeat: no-repeat;
}

.spell:hover {
    border: none;
    cursor: pointer;
    box-shadow: inset 1px 1px 10px 1px orange
}

/* Health bar */

.health-bar {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 22.5%;
}

.health-bar p {
    background: #C12127;
    width: 100%;
    margin: 0;
    height: 11.5%;
    box-shadow: inset 1px 1px 10px 1px black;
    border: solid 1px black;
}

.health-bar p:first-of-type {
    background: #29AEDF;
}

.health-bar img {
    height: 75%;
    width: 99%;
    border: solid 1px black;
}

.heal {
    animation-name: heal;
    animation-duration: 2s;
}

.dmg {
    animation-name: dmg;
    animation-duration: 2s;
}

@keyframes heal {
    0% {
        box-shadow: none;
    }

    50% {
        box-shadow: 1px 1px 100px 1px yellow;
    }

    100% {
        box-shadow: none;
    }
}

@keyframes dmg {
    0% {
        box-shadow: none;
    }

    50% {
        box-shadow: 1px 1px 100px 1px red;
    }

    100% {
        box-shadow: none;
    }
}
